    *{
    margin: 0;
    padding: 0;   
}
body{
    background-image: url("../_imagens/imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:1000px 100%;
    background-color:#2d0a06 ;
}
h1{
    text-align: center;
}

div#inicial{
    display: block;
    float: relative;
    width: 500px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: arial;
    font-size: 15pt;
    color: rgb(128, 0, 0);
    margin: auto;
    text-align: center;
    
}
div#h3{
    margin: 2px;
    padding: 2px;
}