*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #5c3121;
}
p{
    display: block;
    float: right;
    width: 500px;
    height: 500px;
    margin-right: 50px;
    margin-top: 50px;
}
footer{
    text-align: center;
}